<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PreguntadOrt</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a href='@Url.Action("Index","Home")'><img src="/img/logo.png"></a> 
            @if (ViewData["Title"]?.ToString() != "ConfigurarJuego")
            {
                <a href='@Url.Action("ConfigurarJuego","Home")'><img src="/img/config.png" ></a> 
            }
        </nav>
    </header>
    <div class="container">
            @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
