@{
    ViewData["Title"] = "Home Page";
}

<main class="Height100 index">
    <h1>Preguntados</h1>
    <img src="/img/preguntadosCharacter.png">
    <a href='@Url.Action("Jugar","Home")'>Iniciar</a>
</main>