@{
    ViewData["Title"] = "ConfigurarJuego";
}
<main class="Height100 fin">
 <h1>TE QUEDASTE SIN TIEMPO!</h1>
 <img src="/img/entretenimiento.png">
    <a href='@Url.Action("Index","Home")' class="">Inicio</a>
</main>