@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800;900&display=swap');
* {
    margin:  0;
    padding:  0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
nav {
    width: 100%;
    height: 70px;
    background-color: #8C00CE;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-right: 20px;
    align-items: center;
}
nav a {
    height: 100%;
    width: 100px;
}
nav a img {
    width: 100%;
    height: 100%;
}
nav a:nth-child(2) {
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.Height100 {
    height: calc(100vh - 70px);
    background-color: #8C00CE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.index {

}
.index h1 {
    color: white;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 50px;
}
.index img {
    margin-bottom: 70px;
}
.index a {
    cursor: pointer;
    width: 200px;
    height: 75px;
    background-color: #039B00;
    border-radius: 25px;
    font-size: 2.5em;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.config {
    background-color: #E9E9E9;

}
.config form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.config form h2 {
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 25px;
}
.config form input {
    height: 30px;
    width: 250px;
}
.config form select{
    height: 30px;
    width: 250px;
    font-size: 1em;
}
.config form button {
    width: 80px;
    height: 40px;
    margin-top: 50px;
    background-position: center;
    background-color: transparent;
    position: absolute;
    top: 35px;
    margin-top: -20px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
    background-size: 100% 100%;
    border: none;
}
.cardTitulo{
    width: 70%;
    height: 30vh;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.titulo {
    font-weight: 500;
    font-size: 2em;
    color: black;
}
.tiempo {
    position: absolute;
    top: 7px;
    background-color:#039B00;
    font-size: 2em;
    padding: 10px;
    color: white;
}
.respuestas {
    align-items: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #39485e;
    padding: 20px;
    justify-content: space-between;
    border-radius: 30px;
    margin-top: 200px;
}
.respuestas a{
    border-radius: 10px;
    width: 100%;
    background-color: white;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    padding: 10px;
}
.respuesta {
    justify-content: flex-start;
    padding:  0 100px;
}
.respuesta h3 {
    color: white;
    font-size: 4.5em;
    font-weight: 900;
}
.respuesta .circulo {
    width: 120px;
    height: 120px;
    background-color: #000000;
    border-radius: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.respuesta .circulo img {
    width: 60%;
    height: 60%;
}
.respuesta h1 {
    text-align: center;
    margin-top: 3vh;
    color: white;
    margin-bottom: 5vh;
}
.respuesta h2{
    color: black;
    background-color: white;
    padding: 5px 50px;
    margin-bottom: 5vh;
}
.respuesta a {
    color: white;
    padding: 20px 50px;
    background-color: #039B00;
    font-size: 1.3em;
    font-weight: 900;
    margin-top: 5vh;
}
.respuesta .error {
    margin-bottom: 25vh;
}
.respuesta .red {
    background-color: red;
}
.respuesta .barraProgreso {
    width: 50%;
    height: 50px;
    background-color: #fff;
    position: relative;
    align-items: center;
    display: flex;
}
.respuesta .barraProgreso div {
    background-color: #11D400;
    position: absolute;
    left: 0;
    height: 50px;
}
.respuesta .barraProgreso p {
    color: black;
    position: absolute;
    right: 15px;
    font-size: 1.3em;
    font-weight: 900;
}
.respuesta .barraProgreso p::after{
    content: '%';
    margin-left: 2px;
}
.fin {
    justify-content: flex-start;
}
.fin h1 {
    font-size: 3em;
    margin-top: 50px;
    color: white;
}
.fin img {
    width: 300px;
    height: 300px;
    margin-top: 50px;
}
.fin a {
    color: white;
    padding: 20px 50px;
    background-color: #039B00;
    font-size: 1.3em;
    font-weight: 900;
    margin-top: 5vh;
}
@media (max-width: 750px) {
    body {
      background-color: lightgray;
    }
    .cardTitulo h1{
        font-size: 1.5em;
    }
    .respuestas a {
        font-size: 1.5em;
    }
    .respuesta h1 {
        font-size: 1.5em;
    }
    .respuesta h2 {
        font-size: 1em;
    }
    .respuesta .barraProgreso {
        height: 30px;
    }
    .respuesta .barraProgreso div {
        height: 30px;
    }
  }
  